<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tfgapps.video.nlrviewer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_customicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_customicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".selector"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't need to set the theme here if it's set on your <application /> tag already -->

        <activity
            android:name=".VideoPlayerV2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player_v2" /> <!-- Don't need to set the theme here if it's set on your <application /> tag already -->
    </application>

</manifest>